<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="/sb-admin-2/vendor/jquery/jquery.min.js"></script>
<script src="/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/sb-admin-2/js/sb-admin-2.min.js"></script>
<!-- Bootstrap core JavaScript-->

<!-- Page level plugins -->
<script src="/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="/sb-admin-2/js/demo/datatables-demo.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>

<script>
  const navbar = document.querySelector('.col-navbar')
  const cover = document.querySelector('.screen-cover')

  const sidebar_items = document.querySelectorAll('.sidebar-item')

  function toggleNavbar() {
    navbar.classList.toggle('d-none')
    cover.classList.toggle('d-none')
  }

  ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .catch( error => {
        console.error( error );
    });
  $('#dataTableActivity').DataTable()
</script>
</body>

</html>