<% include ../../partials/header.ejs %>
  <% include ../../partials/sidebar.ejs %>
    <div class="col-12 col-xl-9">
      <% include ../../partials/navbar.ejs %>
        <div class="content">
          <div class="row">
            <div class="col-lg-12 col-md-6 ">
              <% include ./table.ejs %>
            </div>
          </div>
        </div>

        <% include ../../partials/js.ejs %>